* {
  margin: 0;
  padding: 0;
}

#content {
  margin: 0 auto;
  border: 2px solid black;
  cursor: crosshair;
}

form {
  position: absolute;
  width: 350px;
  background: rgb(148, 148, 148);
  padding: 10px;
}
